.a{
	width: 200px;
	height: 200px;
	background-color: red;
	/* position: relative; */
	float: left;
}
.b{
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	position: relative;;
	top: 200px;
	left: 100px;
}
.b{
	
}
